        id        = "net.moodlemoot.emantras"
        versionCode = "1"
        version   = "1.0">
    <name>emantras</name>
       emantras Mobile official app
    <author href="http://moodle.com" email="emantras@moodle.com">
       emantras
        <string>1.0</string>
    <gap:platform name="ios" />
    <gap:platform name="android" />

    <access origin="*" />
    <access origin="tel:*" launch-external="yes" />
    <access origin="mailto:*" launch-external="yes" />
    <access origin="geo:*" launch-external="yes" />

    <allow-navigation href="cdvfile:*" />
    <allow-navigation href="content:*" />
    <allow-navigation href="data:*" />
    <allow-navigation href="*" />

    <allow-intent href="*" />
    <preference name="phonegap-version" value="cli-6.5.0" /> 
    <preference name="AppendUserAgent" value="MoodleMobile" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="android-targetSdkVersion" value="19" />
    <preference name="android-installLocation" value="auto" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="KeyboardDisplayRequiresUserAction" value="false" />
    <feature name="StatusBar">
        <param name="ios-package" value="CDVStatusBar" onload="true"/>
    </feature>
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    <preference name="iosPersistentFileLocation" value="Compatibility" />
    <icon src="img/icon/android/icon-36-ldpi.png"   gap:platform="android"    gap:density="ldpi" />
    <icon src="img/icon/android/icon-48-mdpi.png"   gap:platform="android"    gap:density="mdpi" />
    <icon src="img/icon/android/icon-72-hdpi.png"   gap:platform="android"    gap:density="hdpi" />
    <icon src="img/icon/android/icon-96-xhdpi.png"  gap:platform="android"    gap:density="xhdpi" />
    <icon src="img/icon/android/icon-144-xxhdpi.png"  gap:platform="android"    gap:density="xxhdpi" />
    <icon src="img/icon/ios/icon-small.png" gap:platform="ios" width="29" height="29" />
    <icon src="img/icon/ios/icon-small@2x.png" gap:platform="ios" width="58" height="58" />
    <icon src="img/icon/ios/icon-small@3x.png" gap:platform="ios" width="87" height="87" />

    <icon src="img/icon/ios/icon-40.png"            gap:platform="ios"      width="40" height="40" />
    <icon src="img/icon/ios/icon-40@2x.png"         gap:platform="ios"      width="80" height="80" />
    <icon src="img/icon/ios/icon-60.png" gap:platform="ios" width="60" height="60" />
    <icon src="img/icon/ios/icon-60@2x.png" gap:platform="ios" width="120" height="120" />
    <icon src="img/icon/ios/icon-60@3x.png" gap:platform="ios" width="180" height="180" />

    <icon src="img/icon/ios/icon-57.png"            gap:platform="ios"        width="57" height="57" />
    <icon src="img/icon/ios/icon-72.png"            gap:platform="ios"        width="72" height="72" />
    <icon src="img/icon/ios/icon-76.png"            gap:platform="ios"        width="76" height="76" />
    <icon src="img/icon/ios/icon-40@3x.png"         gap:platform="ios"        width="120" height="120" />
    <icon src="img/icon/ios/icon-76@2x.png"         gap:platform="ios"        width="152" height="152" />
    <icon src="img/icon/ios/icon-57@2x.png"         gap:platform="ios"        width="114" height="114" />
    <icon src="img/icon/ios/icon-72@2x.png"         gap:platform="ios"        width="144" height="144" />
    <gap:splash src="img/splash/android/android_ldpi_portrait.png.png" gap:platform="android" gap:density="ldpi"/>
    <gap:splash src="img/splash/android/android_mdpi_portrait.png" gap:platform="android" gap:density="mdpi"/>
    <gap:splash src="img/splash/android/android_hdpi_portrait.png" gap:platform="android" gap:density="hdpi"/>
    <gap:splash src="img/splash/android/android_xhdpi_portrait.png" gap:platform="android" gap:density="xhdpi"/>
    <gap:splash src="img/splash/ios/iphone_portrait.png" gap:platform="ios" width="320" height="480"/>
    <gap:splash src="img/splash/ios/iphone_retina_portrait.png" gap:platform="ios" width="640" height="960"/>
    <gap:splash src="img/splash/ios/iphone5.png" gap:platform="ios" width="640" height="1136" />

    <gap:splash src="img/splash/ios/ipad_portrait.png" gap:platform="ios" width="768" height="1004"/>
    <gap:splash src="img/splash/ios/ipad_landscape.png" gap:platform="ios" width="1024" height="748"/>
    <gap:splash src="img/splash/ios/ipad_retina_portrait.png" gap:platform="ios" width="1536" height="2008"/>
    <gap:splash src="img/splash/ios/ipad_retina_landscape.png" gap:platform="ios" width="2048" height="1496"/>

    <gap:platform name="ios" />
    <gap:platform name="android" />

       <gap:plugin name="cordova-plugin-camera" source="npm" />
    <gap:plugin name="cordova-plugin-media-capture" source="npm">
        <param name="CAMERA_USAGE_DESCRIPTION" value="We'd like to access your camera to let you take a photo"/>
        <param name="PHOTOLIBRARY_USAGE_DESCRIPTION" value="We'd like to access your photo library to let you pick a photo"/>
        <param name="MICROPHONE_USAGE_DESCRIPTION" value="We'd like to access your microphone to let you record an audio"/>
    </gap:plugin>
    <gap:plugin name="cordova-plugin-device" source="npm" />
    <gap:plugin name="cordova-plugin-file" source="npm" />
    <gap:plugin name="cordova-plugin-file-transfer" source="npm" />
    <gap:plugin name="cordova-plugin-globalization" source="npm" />
    <gap:plugin name="cordova-plugin-inappbrowser" source="npm" />
    <gap:plugin name="cordova-plugin-network-information" source="npm" />
    <gap:plugin name="cordova-plugin-statusbar" source="npm" />
    <gap:plugin name="cordova-plugin-whitelist" source="npm" />
    <gap:plugin name="cordova-plugin-splashscreen" source="npm" />
    <gap:plugin name="cordova-universal-clipboard" source="npm" />
    <gap:plugin name="nl.kingsquare.cordova.background-audio" source="npm" />

    <gap:plugin name="phonegap-plugin-push" source="npm" version="1.9.2">
        <param name="SENDER_ID" value="694767596569" />
    </gap:plugin>
    <gap:plugin name="cordova-plugin-customurlscheme" source="npm">
        <param name="URL_SCHEME" value="moodlemobile" />
    <gap:plugin name="ionic-plugin-keyboard" source="npm" />
    <gap:plugin name="cordova-plugin-zip" source="npm" />
    <gap:plugin name="cordova-plugin-local-notifications-mm" source="npm" />
    <gap:plugin name="net.tunts.webintent" spec="https://github.com/Tunts/WebIntent.git" source="git" />
    <gap:plugin name="ch.ti8m.documenthandler" spec="https://github.com/ti8m/DocumentHandler.git" source="git" />

         <application android:debuggable="true" />
 <gap:config-file platform="ios" parent="NSAppTransportSecurity" mode="add">
        <dict>
            <key>NSAllowsArbitraryLoads</key><true/>
        </dict>
    </gap:config-file>
    <access origin="*" />

